<form action= '/recipes' method='POST'>
    <p>NAME: <input type = 'text' name = 'name'></p>
    <p>INGREDIENTS: <input type = 'text' name = 'ingredients'></p>
    <p>COOK TIME: <input type = 'number' name = 'cook_time'></p>
    <input type='submit'>
</form>